<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Biology</key>
	<dict>
		<key>Mitochondria</key>
		<array>
			<string>Mitochondria</string>
			<string>an organelle found in large numbers in most cells, in which the biochemical processes of respiration and energy production occur. It has a double membrane, the inner layer being folded inward to form layers (cristae).
</string>
			<string>Noun</string>
		</array>
		<key>Cytoplasm</key>
		<array>
			<string>Cytoplasm</string>
			<string>the material or protoplasm within a living cell, excluding the nucleus.
</string>
			<string>Noun</string>
		</array>
		<key>Ribosome</key>
		<array>
			<string>Ribosome</string>
			<string>a minute particle consisting of RNA and associated proteins, found in large numbers in the cytoplasm of living cells. They bind messenger RNA and transfer RNA to synthesize polypeptides and proteins.
</string>
			<string>Noun</string>
		</array>
	</dict>
	<key>Math</key>
	<dict>
		<key>Addition</key>
		<array>
			<string>Addition</string>
			<string>the action or process of adding something to something else.
</string>
			<string>Noun</string>
		</array>
		<key>Subtraction</key>
		<array>
			<string>Subtraction</string>
			<string>the process or skill of taking one number or amount away from another.
</string>
			<string>Noun</string>
		</array>
		<key>Division</key>
		<array>
			<string>Division</string>
			<string>the process of calculating the number of times one number is contained within one another.</string>
			<string>Noun</string>
		</array>
	</dict>
	<key>Organic Chemistry</key>
	<dict>
		<key>Amines</key>
		<array>
			<string>Amines</string>
			<string>an organic compound derived from ammonia by replacement of one or more hydrogen atoms by organic groups.
</string>
			<string>Noun</string>
		</array>
		<key>Hydrogen</key>
		<array>
			<string>Hydrogen</string>
			<string>a colorless, odorless, highly flammable gas, the chemical element of atomic number 1.
</string>
			<string>Noun</string>
		</array>
		<key>Reactants</key>
		<array>
			<string>Reactants</string>
			<string>a substance that takes part in and undergoes change during a reaction.
</string>
			<string>Noun</string>
		</array>
	</dict>
	<key>Computer Science</key>
	<dict>
		<key>Abstraction</key>
		<array>
			<string>Abstraction</string>
			<string>Abstraction is a technique for arranging complexity of computer systems</string>
			<string>Noun</string>
		</array>
		<key>Polymorphism</key>
		<array>
			<string>Polymorphism</string>
			<string>Polymorphism is the provision of a single interface to entities of different types.</string>
			<string>Noun</string>
		</array>
		<key>Objects</key>
		<array>
			<string>Objects</string>
			<string>Objects are instances of classes in object-oriented programming.</string>
			<string>Noun</string>
		</array>
	</dict>
</dict>
</plist>
